* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	font-family: "p22-underground", sans-serif;
}

html,
body {
	margin: 0;
	background-color: $background;
	min-height: 100%;
}

.container {
	width: 900px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 20px;
	@include mq($to: fixed) {
		width: 100%;
	}
}

a {
	color: $grey;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

a:hover {
	opacity: 0.75;
}