header {
	padding: 24px 0;
	position: fixed;
	width: 100%;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	
	&:hover {
		.header__nav__col {
			opacity: 1;
		}
	}
}

.header__logo {
	@include grid-width(3);
	text-transform: uppercase;
	color: $white;
	font-size: 3.0rem;
	font-weight: bold;
}

.header__logo__papers {
	color: $grey;
	font-size: 2.4rem;
	margin-left: 4px;
	background-image: linear-gradient(to bottom,$grey 50%,$grey 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 2px 20px;
	vertical-align: top;
}

.header__nav {
	@include grid_width(5, last);
}

.header__nav__title {
	font-size: 3.0rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.header__nav__col {
	width: 20%;
	float: left;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.header__nav__col__link {
	display: block;
	margin-bottom: 8px;
	font-size: 1.8rem;
}