.main__links {
	width: 600px;
	margin: 20px auto;
	overflow: auto;
	display: none;
}

.main__links__col {
	float: left;
	width: 150px;
}

.main__links__link {
	display: block;
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 6px;
}

.main__links--visible {
	display: block;
}