main {
	margin-bottom: 80px;
}

.main__title {
	font-size: 6.6rem;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	width: 600px;
	background-position: center center;
	@include text-fill-color(transparent);
	@include transition(background-position, 0.5s, ease-out);
	background-repeat: no-repeat;
	opacity: 0;
	@include animation("main-in 1s");
}

.main__element {
	width: 100%;
	overflow: auto;
	margin: 20px 0;
	text-align: center;
}

.finished {
	.main__element {
		&:hover {
			.main__title {
				background-position-x: -200px;
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}
}

@include keyframes(main-in) {
	0% {
		opacity: 1;
		background-position: 600px;
	}
	30% {
		opacity: 1;
		background-position: 600px;
	}
	100% {
		opacity: 1;
	}
}