main {
	margin-bottom: 80px;
}

.main__title {
	font-size: 7.2rem;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	background-size: 100%;
	background-position: center center;
	@include text-fill-color(transparent);
	@include transition(background-position, 0.5s, ease-out);
}

.main__element {
	width: 100%;
	overflow: auto;
	margin: 20px 0;
	text-align: center;
	
	&:hover {
		.main__title {
			background-position-x: -100px;
			opacity: 0.8;
			cursor: pointer;
		}
	}
}