main {
	margin-bottom: 80px;
}

.main__title {
	font-size: 7.2rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	@include text-fill-color(transparent);
}

.main__title:hover {
	opacity: 0.8;
	cursor: pointer;
}

.main__element {
	width: 100%;
	overflow: auto;
	margin: 20px 0;
	
/*
	&:hover {
		.main__links {
			display: block;
		}
	}
*/
}