main {
    margin-bottom: 80px;
}

.main__element {
    width: 100%;
    margin: 20px 0;
    text-align: center;

    &:hover {
        .main__title {
            cursor: default;
        }
    }
}

.main__title {
    display: block;
    width: 600px;
    margin: 0 auto 12px auto;
    @include transition(background-position, .5s, ease-out);
    background-repeat: no-repeat;
    opacity: 0;
    @include animation("main-in 1s");

    @include mq($to: tablet) {
        width: 100%;
        padding: 0 12px;
    }
    
    @include mq($to: mobile) {
    
    }
}

.finished {
    .main__element {
        &:hover {
            .main__title {
                cursor: pointer;

                @include mq($from: fixed) {
                    background-position-x: -200px;
                    opacity: .8;
                    cursor: pointer;
                }
            }
        }
    }
}

@include keyframes(main-in) {
    0% {
        opacity: 0;
        background-position: 600px;
    }

    30% {
        opacity: 1;
        background-position: 600px;
    }

    100% {
        opacity: 1;
    }
}
