.main__links {
	width: 600px;
	padding: 20px auto;
	margin: 0 auto;
	overflow: hidden;
	max-height: 0;
	font-size: 1.8rem;
	line-height: 2.2rem;
	opacity: 0;
	@include transition(all, .5s, ease-out);
}

.main__links__link {
	display: block;
	margin-bottom: 6px;
}

.main__links--visible {
	max-height: 196px;
	opacity: 1;
}