main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.background {
	height: 100%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.5,0.05,0.4,1);
}

.background.animating-left,
.background.animating-right {
	.background__item {
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: ease-out;
	}
}

.background.animating-left {
	.background__item {
		-webkit-animation-name: train-blur-left;
	}
}

.background.animating-right {
	.background__item {
		-webkit-animation-name: train-blur-right;
	}
}

@-webkit-keyframes train-blur-left {
    0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		-webkit-transform: skewX(0deg);
    }
    60% {
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
		-webkit-transform: skewX(8deg);
    }
    100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		transform: skewX(0deg);
    }
}

@-webkit-keyframes train-blur-right {
    0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		-webkit-transform: skewX(0deg);
    }
    60% {
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
		-webkit-transform: skewX(-8deg);
    }
    100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		transform: skewX(0deg);
    }
}

.background__item {
	width: 100%;
	height: 100%;
	float: left;
			-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
}