// Base
$white: #fff;
$grey: #a7a9aa;

// Hammersmith
$hammersmith-pri: #f1d416;
$hammersmith-sec: #2cce6d;
$hammersmith-bg: #151f23;

// Victoria
$victoria-pri: #d12824;
$victoria-sec: #efebd3;
$victoria-bg: #143c92;