// Base
$white: #fff;
$grey: #333;
$muted-grey: #666;
$background: #cfd2d3;

// Hammersmith
$hammersmith-pri: #f1d416;
$hammersmith-sec: #2cce6d;
$hammersmith-bg: #151f23;

// Victoria
$victoria: #d12824;
$victoria-hover: #143c92;