// Base
$white: #fff;
$grey: #333;
$muted-grey: #666;
$background: #cfd2d3;

// Bakerloo
$bakerloo: #294397;
$bakerloo-hover: #40b29f;

// Barman
$barman: #266dd5;
$barman-hover: #29c3ff;

// Central
$central: #151b2b;
$central-hover: #d12626;

// District
$district: #fa5015;
$district-hover: #581b16;

// Hammersmith
$hammersmith: #c72878;
$hammersmith-hover: #2cce6d;

// Metropolitan
$metropolitan: #c9357f;
$metropolitan-hover: #43a6dc;

// Overground
$overground: #3c211e;
$overground-hover: #fa5015;

// Victoria
$victoria: #d12824;
$victoria-hover: #143c92;

// Waterloo
$waterloo: #151b2b;
$waterloo-hover: #56d6a2;