@mixin text-fill-color($color) {
	-webkit-text-fill-color: $color;
	-moz-text-fill-color: $color;
	-o-text-fill-color: $color;
	-ms-text-fill-color: $color;
	text-fill-color: $color;
}

@mixin background-clip($value) {
	-webkit-background-clip: $value;
	-moz-background-clip: $value;
	-o-background-clip: $value;
	-ms-background-clip: $value;
	background-clip: $value;
}